<!-- views/priority.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Priority Queue</title>
</head>

<body>
    <h1>Priority Queue</h1>
    <table border="1">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>Severity</th>
                <th>Family Doctor</th>
            </tr>
        </thead>
        <tbody>
            <% submissions.forEach((submission)=> { %>
                <tr>
                    <td>
                        <%= submission.user_id %>
                    </td>
                    <td>
                        <%= submission.name %>
                    </td>
                    <td>
                        <%= submission.severity %>
                    </td>
                    <td>
                        <%= submission.family_doctor %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <a href="/">Back to Form</a>
</body>

</html>