/* src/App.css */
:root {
  --primary-color: #00b1dd;
  --secondary-color: #0083b3;
  --text-color: #333;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  background-color: var(--primary-color);
  color: #ffffff;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
  background-color: var(--secondary-color);
}
.background-container {
  height: 100vh;
  background-image: url("../assets/back.jpg");
  background-size: cover;
}
